# Blacklist dotfiles/dotdirectories by default -- they usually should not be committed
.*

# These are the dotfiles/dotdirectories that should actually be committed
!/.circleci
!.gitignore
!.npmignore

# Allow only yarn lock file
*lock*
!yarn.lock

# These directories should never be committed
/lib
/node_modules
/coverage

# Logs should never be committed
yarn-error*
