version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.16.3

    working_directory: ~/ts-when

    steps:
      - checkout
      - restore_cache:
          keys:
            - dependencies-cache-{{ checksum "package.json" }}
      - run: yarn
      - save_cache:
          key: dependencies-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          name: "Run Jest and Collect Coverage Reports"
          command: yarn test:codecov
      - store_artifacts:
          path: coverage
